.button__main {
  width: 100%;
}
.home__fields {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__image {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__imagehide {
  display: none;
}
.home__image img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  object-fit: contain;
}
.home__search {
  border: 1px solid rgba(134, 133, 133, 0.596);
  border-radius: 1em;
  padding: 0.1em;
  max-width: 380px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__searchbig {
  border: 1px solid rgba(134, 133, 133, 0.596);
  border-radius: 1em;
  padding: 0.1em 2em 0.1em 1em;
  max-width: none;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.home__form {
  width: 100%;
  display: flex;
}
.home__form button {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchicon {
  margin-left: 0.4em;
}
.searchicon:hover {
  color: grey;
  cursor: pointer;
}
.micicon {
  margin-right: 0.4em;
}
.micicon:hover {
  color: grey;
  cursor: pointer;
}
.home__search input {
  width: 90%;
  outline: none;
  border: none;
}
.home__search input {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgba(15, 15, 15, 0.863);
}
.home__btns {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}
.home__btnshide {
  display: none !important;
}
.home__btns button {
  margin: 0.4em;
  text-transform: inherit;
  background-color: rgba(218, 216, 216, 0.555);
}
